.panel {
  background-color: #000C;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

.palette {
  width: 100%;
  height: auto;
  bottom: 70px;
  display: none;
}

.palette.active {
  display: block;
}

.taskbar {
  width: 100%;
  height: 70px;
  bottom: 0;
}

.controls {
  padding: 20px;
}

fieldset {
  border: none;
}

button {
  background-color: #0000;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  margin: 0 2px 0 2px;
}

button:active, button.active {
  background-color: white;
  color: black;
}
